---
---

<div class="about-page">
  <h1>À propos</h1>
  <ul class="mt-5">
    <li>
      <strong>Domaine :</strong> Développeur Fullstack avec une expertise en React, Vue.js, PWA, Laravel, et bien plus.
    </li>
    <li>
      <strong>Frontend :</strong> Création d'interfaces utilisateur interactives avec React et Vue.js, développement de Progressive Web Apps pour une expérience utilisateur optimale.
    </li>
    <li>
      <strong>Backend :</strong> Utilisation de Laravel pour un développement backend rapide et sécurisé, gestion des bases de données et création d'APIs RESTful.
    </li>
    <li>
      <strong>DevOps et CI/CD :</strong> Mise en œuvre de pratiques DevOps pour l'automatisation et l'intégration continue, garantissant des déploiements fiables et efficaces.
    </li>
    <li>
      <strong>Sécurité :</strong> Priorisation de la sécurité des applications web pour protéger contre les vulnérabilités et attaques.
    </li>
    <li>
      <strong>Ikigai :</strong> Mon Ikigai est de trouver un équilibre entre ma passion pour la technologie, mes compétences, la valeur que j'apporte au monde et la rémunération que je reçois. Cette carrière me permet d'exercer ma créativité et mon savoir-faire technique tout en contribuant à la création de solutions significatives.
    </li>
    <li>
      <strong>Pourquoi Astro ?</strong> J'ai choisi <a href="https://astro.build" target="_blank">Astro</a> pour son approche performante et moderne du développement web. Les sites construits avec Astro sont rapides, SEO-friendly et offrent une excellente expérience utilisateur grâce à l'intégration avec <a href="https://tailwindcss.com">Tailwind CSS</a>.
    </li>
    <li>
      <strong>Engagement envers l'expérience utilisateur :</strong> Astro supporte le mode sombre automatique et assure une expérience réactive et accessible sur tous les appareils.
    </li>
  </ul>
  <div class="ikigai-image">
    <h2>Mon ikigai</h2>
    <img src="/images/Ikigai-LabVeilTech.png" alt="Mon Ikigai" />
  </div>
</div>
